@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(
  30deg,
  rgba(87, 108, 188, 0.8) 50%,  
  rgba(114, 132, 199, 0.8) 100% 
);
  padding: 18px 24px;
  max-width: 400px;
}

.image {
  margin-bottom: 26px;
  width: 100%;
}

.title {
  color: var(--color-text);
  font-size: 1.5rem;
}

.description {
  margin-top: 6px;
  font-size: 1.5rem;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  color: var(--color-text);
  font-size: 20px;
  border-radius: 30px;
  background: #fff;
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.links :hover {
  background: var(--color-secondary);
  color: var(--color-text-secondary);
}

.link {
  text-decoration: none;
  color: #19376d;;
  font-size: 24px;
  border-radius: 30px;
  background: #fff;
  padding: 1px 22px;
}