/* 
o Name: Huiting Huang
o Date: February 26, 2023f
o Section: CST 8285 section 304
o Lab: 304
o File: style.css
o Lab objective: additional or overriding css
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 1rem !important;
}
.nav-links {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content:center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav-links > li {
  float:left;
}

li a {
  display: block;
  color: #71C9CE;
  text-align: center;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
}

a.active{
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #FF8787;
  border-bottom:#71C9CE solid ;
}

.btn-primary{
  background-color: #71C9CE !important;
  border: #71C9CE !important;
}

.btn-primary:hover{
  background-color: aqua !important;
}

ul.pros>li{
  list-style-type: "\2728";
  padding: 10px 10px;
  font-weight:bold;
}

p{
  line-height: 1.7em !important;
}

.bottom{
  background-color: #FFF6F6;
}

footer>p{
  color: #b6cdce;
}

a>i{
  padding: 5px;
}

div.cover{
  background-image: url(images/LEAVES_BACKGROUND.jpg);
  background-size:cover;
}

h2~ul>li{
  padding-bottom: 1rem !important;
}

div.education{
  border-right: solid 1px rgb(192, 190, 190);
  border-right-style: dotted;
}

/* hr{
  width: 15%;
  opacity: 80%;
} */

.more{
  display: none;
}

.skill{
  width: 50%;
  margin-bottom: 2rem;
}

.section{
  background-color: #FFF6F6;
}

.coursebg{
  background-image: url(images/course-bg.jpg);
  background-size:cover;
  opacity: 95%;
  padding: 0;
  margin: 0;
}

.filter{
  background-color: white !important;
  color: #71C9CE !important;
  border-color: #71C9CE !important;
}

.filter:hover{
  color:white !important;
  background-color: #FF8787 !important;
}

.filter.active{
  background-color: #71C9CE !important;
  color: white !important;
}

.none {
  display: none;
}

.card-img{
  width: 60% !important;
  opacity: 80%;
}