@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
}

.title {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.skillsWrapper {
  overflow: hidden;
  width: 100vw;
}

.skills {
  display: flex;
  gap: 24px;
  animation: scrollSkills 20s linear infinite;
}

.skill {
  flex: 0 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

@keyframes scrollSkills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); 
  }
}


@media screen and (max-width: 830px) {
  .skillsWrapper {
    width: 100vw;
  }

  .skillImageContainer {
    width: 80px;
    height: 80px;
  }

  .skillImageContainer img {
    width: 50px;
  }

  .skill p {
    font-size: 18px;
  }

  .skills {
    gap: 16px;
  }

}