@import "../../vars.css";

.container {
  position: relative;
    background: linear-gradient(
  30deg,
  rgba(87, 108, 188, 0.8) 50%,  
  rgba(114, 132, 199, 0.8) 100% 
);
  border-radius: 15px;
  padding: 73px;
  margin-top: 120px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}


.title {
  color: var(--color-text-secondary);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgContainer{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.aboutImage {
  width: 80%;
}

.aboutItems {
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-top: 30px;
  }

  .content {
    flex-direction: column;
  }

  .title {
    padding: 0 20px;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 0;
    padding-left: 0;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}