@import "../../vars.css";

.container {
  color: var(--color-text-secondary);
  margin-top: 120px;
    background: linear-gradient(
  30deg,
  rgba(87, 108, 188, 0.8) 50%,  
  rgba(114, 132, 199, 0.8) 100% 
);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link img {
  width: 40px;
  height: 40px;
}

.link a {
  color: var(--color-text-secondary);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  word-break: break-word;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding: 40px 5%;
    gap: 30px;
  }

  .text h2 {
    font-size: 48px;
  }

  .text p {
    font-size: 22px;
  }

  .links {
    align-items: start;
    gap: 18px;
  }

  .link {
    gap: 15px;
  }

  .link img {
    width: 28px;
    height: 28px;
  }

  .link a {
    font-size: 20px;
  }
}